.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
  border: white;
  border-radius: 40px;
}

.search-btn {
  padding: 8px 10px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;

  &:active {
    background: #ecf0f1;
    color: black !important;
  }
}

.article::first-letter {
  font-size: 3rem;
  initial-letter: 4 !important;
  margin-right: 9px;
}